<?xml version="1.0" ?>

<robot name="motoman_sda10f" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find motoman_sda10f_support)/urdf/sda10f_macro.xacro" />
    <xacro:include filename="$(find robot_setup_sda10f)/urdf/table.urdf.xacro" />
    <xacro:include filename="$(find robot_setup_sda10f)/urdf/cover.urdf.xacro" />
    <xacro:include filename="$(find wsg_50_simulation)/urdf/wsg_50.urdf.xacro" />
	<xacro:motoman_sda10f prefix=""/>
	<!-- ==============add table robot arm=================== -->
    <xacro:table_model prefix="" parent="base_link">
        <origin xyz="0.0 0.0 -0.16" rpy="${pi} 0 0" />
    </xacro:table_model>
    <xacro:cover_model prefix="" parent="arm_left_link_tool0">
        <origin xyz="0.0 0.0 -0.04" rpy="${pi} 0 ${pi/2 + 0.29}" />
    </xacro:cover_model>
    <xacro:wsg_50_xacro name="wsg_50_gripper" parent="arm_left_link_tool0">
        <origin xyz="0.0 0.0 -0.177" rpy="0 0 ${pi + 0.29}" />
    </xacro:wsg_50_xacro>
</robot>
